*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body{
  font-family: sans-serif;
}

nav {
 
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem ;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.introduction {
 
  height: 75vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 6rem;
}

.img-container, 
.introduction_content{
height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.img{
  height: 15rem;
  width: 15rem;
  border:1px solid black;
  border-radius: 50%;

 
  background-repeat: no-repeat;
}
img{
  width: 100%;
}



.top-posts{
  margin-bottom: 6rem;
}

.top-posts h1{
  text-align: center;
  margin-bottom: 1rem;
}

.top-posts_list{
  
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
  
}


.top-posts_list_single{
   /* height: 18rem; */
  width: 22rem;
 height: 100%;
  border-radius: 2%;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) ;
  padding: 1rem 2rem;
}
.top-posts_list_single img {
  height: 70%;
  width: 100%;
}
.top-posts_list_single h3 {
 /* margin-top: 1rem; */
}
.top-posts_list_single time{
  background-color: #111;
  color: #fff;
  display: inline-block;
  width: 100%;
  padding-top: 0.5rem;
  border-radius: 999px;
}
.journey {
  height: 70vh;

  padding: 1rem 2rem;
  margin-bottom: 6rem;
}
.journey_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9rem;
  height: 80%;
}

.single-journey{
  
  /* border: 1px solid gray; */
 
  height: 100%;
}

.single-post-container{
  border: 1px solid lightgreen;
  height: 125vh;
  margin-top: 2rem;
  padding: 2rem 4rem;
}
.single-post-img-container{
  width:100%;
  height: 60%;
  background-color: lightslategray;
  display: flex;
  justify-content: end;
  align-items: center;
}
.single-post-img{
  width: 15rem;
  height: 15rem;
  background-color: #fff;
  border-radius: 25%;
  transform: rotate(20deg);
  margin-right: 4rem;
}
.single-post-img img{
  object-fit: cover;
}
single-post-container{
  text-align: center;
}