{% extends "base.html" %}

{% block title %}
<strong>Books Application</strong>
{% endblock title %}


{% block content %}
   <h4>Number of books : {{number}}</h4>
    <h4>Average Rating: {{average.rating__avg}}</h4>
<div class="book-list">
  {% for book in books %}
  {% comment %} <a href="{% url "book-detail" book.id %}"> {% endcomment %}
 
  <a href="{{book.get_absolute_url }}">
  <div class="book-item">
    <h3>{{book.title}}</h3>
    <p>{{book.author}}</p>
    <strong>⭐{{book.rating}}</strong>
    {% if  book.is_bestselling == True%}
    <h3>{{'Best Seller'}}</h3>
    {% endif %}
  </div>
</a>
  {% endfor %}
</div>
{% endblock content %}