{% extends "index.html" %}
{% load static %}

{% block title %}
Blog App
{% endblock title %}
{% block css_files %}
<link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock css_files %}
{% block content %}
{% include "blog/includes/navigation.html" %}

<section class="top-posts">
  <h1>{{post.name}}</h1>
  <div class="single-post-container">
    <!-- <img src="" alt=""> -->
    <div class="single-post-img-container">
      <div class="single-post-img">
        <img src={% static "blog/images/"|add:post.image %} alt="" width="90%">
       
      </div>
    </div>

    <p class="single-post-content">
      {{post.fullContent}}
    </p>
    
  </div>
</section>

{% endblock content %}
